/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300;800&family=Poppins:wght@200;300;600;700;800&family=Work+Sans:wght@200;300;400;500;700;800&display=swap');

/* global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* shared styles */
.btn-secondary {
    border: 2px solid #9376e0;
    padding: 12px 25px;
    border-radius: 4px;
}

.btn-secondary:hover {
    background-color: rgba(247, 247, 247, 0.764);
    cursor: pointer;
}

/* navigation styles */
.nav-container {
    background-color: #9176e0;
}

.nav {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    min-height: 70px;
    align-items: center;
}

.nav .item {
    width: 50%;
}

.nav-logo {
    display: flex;
    color: white;
    align-items: center;
}

.nav-title span {
    color: #e893cf;
}

.nav-logo img {
    height: 50px;
    object-fit: cover;
}

.nav-link {
    display: flex;
    justify-content: space-between;
}

.nav-link li {
    list-style: none;
}

.nav-link li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.nav .nav-link li .login-btn {
    background-color: #e893cf;
    padding: 10px 15px;
    border-radius: 5px;
    color: black;
    font-weight: 600;
}

/* banner style */
.banner {
    background-color: #e6e8eb;
    max-width: 1400px;
    margin: 30px auto;
    border-radius: 10px;
}
.banner-container {
    height: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
}

.banner-container .item {
    width: 50%;
}

.banner-image {
    height: 100%;
    padding: 1rem;
}

.banner-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.banner-content h1 {
    background-image: linear-gradient(to bottom, #9376e0, #e893cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 60px;
    font-weight: 500;
}

.banner-content p {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin: 10px auto;
}

.banner-content button {
    margin: 5px;
}

.social-link {
    margin: 15px auto;
}

.social-link i {
    font-size: 30px;
}

.social-link i:hover {
    cursor: pointer;
}

.social-link a {
    margin: 10px;
}

/* all products section */
.all-products {
    max-width: 1440px;
    margin: 30px auto;
    padding: 20px;
}

.all-products h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 34px;
}

.product-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card {
    background-color: rgba(112, 128, 144, 0.253);
    box-shadow: 2px 2px 4px black;
    border-radius: 10px;
    padding: 10px;
}

.card img {
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: space-between;
}